@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@keyframes backgroundAnimation {
  0% {
    background-color: #d428cc;
  }
  50% {
    background-color: #26a4ca;
  }
  100% {
    background-color: #d428cc;
  }
}

@keyframes darkBackgroundAnimation {
  0% {
    background-color: #0f0038;
  }
  50% {
    background-color: #09011f;
  }
  100% {
    background-color: #0f0038;
  }
}

body {
  display: flex;
  flex-direction: column;
  animation-name: backgroundAnimation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
  padding: 0;
}


.board {
  display: flex;
  justify-content: center;
  width: 540px;
  height: 100%;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}

.button-empty {
  width: 180px;
  height: 180px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: #ffffff;
}

.button-active {
  background-color: #000000;
  cursor: pointer;
}

.theme-button{
  width: 100px;
  height: 30px;
  background-color: #2b2b2b;
  color: #ffffff;
  border-color: #000000;
  border-radius: 1px;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}

.score-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 5px;
}

.endscreen {
  align-items: center;
}

.endscreen-title {
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  text-align: center;
}

.endscreen-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}

body.dark-theme {
  
  animation-name: darkBackgroundAnimation;
  color: #ffffff;

  .button-empty {
    background-color: #1d1d1d;
  }
  .button-active {
    background-color: #ffffff;
  }

}

